header{
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    background: #0d1e4c;
}

.logo{
    display: flex;
    align-items: center;
}

.logo span{
    font-size: 22px;
    margin-left: 7px;
    color: aliceblue;    
}

.theme span{
    font-size: 20px;
    margin-bottom: 100px;
    margin-left: 20px;
    cursor: pointer;
    color: aliceblue;
}
.theme .icon{
    font-size: 17px;
}